*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

#gameDiv{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(102,50%, 54%);
    border: 3px solid;
    width: 50vw;
    display: block;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 200px 0 0 100px;
    border-radius: 20px;
}

.choiceBtn{
    border: 3px solid;
    margin-top: 20px;
    border-radius:20px ;
    padding: 20px;
    color:  hsl(10, 48%, 45%) ;
    background-color:  hsla(288, 47%, 23%, 0.545);
}

.gameText{
    color: hsl(160, 48%, 100%);
}